*{
  margin: 0; padding: 0; box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
}
nav{
  display: grid;
  grid-template-columns: 100fr 100fr 100fr 100fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed; top: 0; left: 0;
  z-index: 10;
  background: rgba(30, 160, 250);

}
nav a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
main{
  margin-top: 5rem;
  padding: 0 1rem;
}
footer{
  position: fixed; bottom: 0; left: 0;
  width: 100%;
  height: 0.2rem;
  background: rgb(30, 160, 250);
}
.item{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #999;
  background: white;
}
