*{
  margin: 0; padding: 0; box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(0, 0, 0, 0.5);
}















