<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
</head>
<body>

  <section>
    <form onsubmit="return false">
      <input name="tweet_text" type="text" placeholder="What?">
      <button onclick="tweet()">Tweet</button>
      <div id="tweet_id"></div>
      <div id="tweet_text"></div>
    </form>
  </section>

  <script>
    // The function must async
    async function tweet(){
      const form = event.target.form
      // console.log(event) // click
      // console.log(event.target) // button
      // console.log(event.target.form) // form
      const connection = await fetch("/tweet", {
        method : "POST",
        body : new FormData(form)
      })
      // console.log(connection)
      if(!connection.ok){
        alert("Could not tweet")
        return
      }
      // Success
      let tweet = await connection.json()
      document.querySelector("#tweet_id").innerHTML = tweet.tweet_id
      document.querySelector("#tweet_text").innerHTML = tweet.tweet_text
    }
  </script>


</body>
</html>