<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
</head>
<body>



  <section>
    <form onsubmit="return false">
      <input name="tweet_text" type="text" placeholder="What?">
      <button onclick="tweet()">Tweet</button>
    </form>
  </section>
  


  <section id="tweets">
  </section>




  <script>

    async function delete_tweet(){
      const form = event.target.form
      const connection = await fetch("/tweets/1", {
        method : "DELETE"
      })
      if(!connection.ok){
        alert("Could not delete tweet")
        return
      }      
      const response = await connection.text()
      form.remove()
    }


    // The function must async
    async function tweet(){
      const form = event.target.form
      // console.log(event) // click
      // console.log(event.target) // button
      // console.log(event.target.form) // form
      const connection = await fetch("/tweets", {
        method : "POST",
        body : new FormData(form)
      })
      // console.log(connection)
      if(!connection.ok){
        alert("Could not tweet")
        return
      }
      // Success
      let tweet = await connection.json()
      let section_tweet = `
      <form onsubmit="return false" style="border: 1px solid blue;">
        <div id="tweet_id">${tweet.tweet_id}</div>
        <div id="tweet_text">${tweet.tweet_text}</div>
        <button onclick="delete_tweet()">Delete tweet</button>
      </form>`
      document.querySelector("#tweets").insertAdjacentHTML("afterbegin", section_tweet)
    }
  </script>


</body>
</html>